{% extends 'base.html' %}

{% block title %}InQuireMe - Login {% endblock title %}
{% block content %}

<h2>Log In</h2>
<form method="post">
  <form>
    <tr>
      <th><label for="id_username">Username:</label></th>
      <td><input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username" autofocus required id="id_username">
        <br>
        <br>
        
    </tr>
    <tr>
      <th><label for="id_password1">Password:</label></th>
      <td><input type="password" name="password1" autocomplete="new-password" required id="id_password1">
        <br>
       
        </ul>
        </span></td>
    </tr>
    {% csrf_token %}
 
    <button type="submit">Log In</button>
  </form>





{% endblock content %}