<div class="columns mx-1">
    <div class="column is-half is-offset-one-quarter">
  
      <section class="hero is-primary mb-4">
        <div class="hero-body">
          <p class="title">
            SuperHero FAQ
          </p>
          <p class="subtitle">
      Frequently Asked Question about Superhero
          </p>
        </div>
      </section>
    
      
      <section>
  <div>
        <label for="searchbox" class="is-size-5">Search</label>
        <input class='input mb-5' type="search" 
              id="searchbox" placeholder="Live search keyword..">
   </div>
  
  <div class="box">
   <strong>What is Kryptonite?</strong>
    <p> It's Superman's weakness</p>
  </div>

  <!--<label for="searchbox">Search</label>
  <input 
    type="search" 
    oninput="liveSearch()" 
    id="searchbox" 
  >
  >